:root {
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color--luminous-vivid-amber: #fcb900;
    --color--light-green-cyan: #7bdcb5;
    --color--vivid-green-cyan: #00d084;
    --color--pale-cyan-blue: #8ed1fc;
    --color--vivid-cyan-blue: #0693e3;
    --color--vivid-purple: #9b51e0;
}

header {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 10;
    left: 0;
    box-sizing: border-box;
    border-bottom-style: none;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.main-nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.nav-content {
    background: transparent;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 800px) {
    .nav-links {
    width: 60%;
    }
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line2 {
    opacity: 0;
}

.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
    transform: translateX(0%);
}

@media screen and (max-width: 800px) {
    .nav-links {
    width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .burger {
    display: block;
    }

    .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: black;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
}
